body{
    color: #{$defaultTxtColor};
}

a{
    text-decoration: none;
    border-bottom: none;
    color:#eb5e43;

    &:hover{
        cursor: pointer;
    }
}

h4{
    font-size: 16px;
}

h5{
    font-size: 13px;
}

.text h2{
    padding: 0;
    margin: 14px 0;
    color: #eb5e43;
    font-size: 20px;
    font-weight: 100;
}

.a-button{
    &:hover{
        border-bottom: none;
    }
}

.a-post{
    color: black;
}

.right{
    float: right;
}

.v-centered{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}