a{
    text-decoration: none;
    border-bottom: none;

    &:hover{
        cursor: pointer;
    }

}

h4{
    font-size: 16px;
}

h5{
    font-size: 13px;
}

.text h2{
    padding: 0;
    margin: 14px 0;
    color: #eb5e43;
    font-size: 20px;
    font-weight: 100;
}

a{
    color:#eb5e43;

    &:hover{
        border-bottom: 1px solid #eb5e43;
    }
}

.a-button{
    &:hover{
        border-bottom: none;
    }
}


body{
    color: #{$defaultTxtColor};
}