$arrowSize: 1rem;

.arrow-holder{
    position: relative;
	cursor: pointer;
    width: $arrowSize;
    height: $arrowSize;
    display: block;
    margin: 5px 0 0 10px;

    .arrow {
        width: $arrowSize;
        height: 2px;
        background-color: #eb5e43;
        position: absolute;
        top: 0;
        left: 0;
        transform-origin: 50% 50%;
        transition: all 0.2s ease-out;
        
        &::before {
            content: ' ';
            position: absolute;
            height: 2px;
            width: $arrowSize;
            top: 0;
            left: 0;
            background-color: #eb5e43;
            transform-origin: 50% 50%;
            transition: all 0.2s ease-out;
        }
    } 
}


.up .arrow{
    transform: rotate(45deg) translate($arrowSize/2, 0px);

    &:before {
        transform: rotate(-90deg) translate(-$arrowSize/2, -$arrowSize/2);
    }
}  

.down .arrow{
    transform: rotate(45deg) translate(0px, $arrowSize/2);
    
    &:before {
        transform: rotate(-90deg) translate($arrowSize/2, $arrowSize/2);
    }
}
  