.btn{
    border: none;
    height: 35px;
    min-width: 80px;
    max-width: 220px;
    font-size: 14px;
    cursor: pointer;

    &--default{
        color: #ffffff;
        background: #EB5E43;

        a{
            color: #ffffff;
        }
    }

    &--small-h{
        height: 30px;
    }

    &--link{
        padding: 20px 0px;
    }

}


button{
    border: none;
    height: 35px;
    min-width: 0px;
    max-width: 200px;
    font-size: 14px;
    color: #ffffff;
    background: #EB5E43;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    button{
        font-size: 13px;
    }
}
