.container {
   // font-family: Minion Pro;
    padding-bottom: 57px;
    
    &-content{
        width: 90%;
        min-height: 500px;
        margin: 20px auto 40px auto;
    }

    &--full{
      width: 100%;
    }
}

@media only screen and (min-width: 800px) {
    .container{
        padding-bottom: 0;
        &-content{
            margin-bottom: 20px;
        }
    }
}
