.arrow-holder{
    position: relative;
    width: 10%;
    float: left;
    &::after{
        content: "";
        clear: both;
        display: table;
    }
}

.arrow {
    width: 42px;
    height: 19px;
    position: absolute;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 25px;
        height: 3px;
        background-color: #eb5e43;
        transform-origin: 0 0;
        transition: transform .3s ease-out;
        transform: rotate(45deg) scaleX(1.15) translateY(-1.5px);
    }
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 18px;
        width: 25px;
        height: 3px;
        background-color: #eb5e43;
        transform-origin: 0 100%;
        transition: transform .3s ease-out;
        transform: rotate(-45deg) scaleX(1.15) translateY(3px);
    }

    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }  
} 