button{
    border: none;
    height: 35px;
    min-width: 95px;
    max-width: 200px;
    font-size: 14px;
    color: #ffffff;
    background: #EB5E43;
    cursor: pointer;
}

@media only screen and (min-width: 800px) {
    button{
        font-size: 13px;
    }
}
