.event-box {
    border-style: solid;
    border-width: thin;
    margin: 5px;
    height: 125px;
    //min-width: 125px;
    width: 125px;
    //flex: 1 0 calc(50% - 40px);
    cursor: pointer;
    position: relative;
}

.flex-container-event {
    margin-top: 25px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

.event-text {
    margin-top: 20px;
    text-align: center;
    padding: 0 10px;
    
    &--name{
        max-height: 60px;
    }
}

.event-header {
    text-align: center;
}
.event-date {
    color: white;
    background-color: #30242E;
    padding: 3px;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

@media only screen and (min-width: 400px) {
    .event-box{
        margin: 10px;
        width: 140px;
    }    
}

@media only screen and (min-width: 500px) {
    .event-box{
        margin: 15px;
        width: 180px;
    }
}

@media only screen and (min-width: 600px) {
    .event-box{
        margin: 20px;
        width: 210px;
    }
    
}

@media only screen and (min-width: 768px) {
    .event-box{
        margin: 20px;
        max-width: 230px;
        flex: 1 0 calc(25% - 40px);
    }
    .event-date{
        line-height: 1.4;
    }
    
}