.content-wrapper{
    max-width: 1024px;
    padding: 20px;
    margin: 0 auto;
}

.wrapper{
    display: inline-block;
}

@media only screen and (min-width: 800px) {
    .wrapper{
        min-width: 750px;
    }
}